@{
    ViewBag.Title = "Contact";
}

<div class="page-header">
    <h3 id="timeline">Policy Information</h3>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Policy</div>
    <div class="panel-body">
        <ul class="nav nav-tabs">
            <li><a aria-expanded="false" href="#home" data-toggle="tab">P105815114</a></li>
            <li class="active"><a aria-expanded="true" href="#profile" data-toggle="tab">P105815114A</a></li>
            <li><a aria-expanded="false" href="#" data-toggle="tab">P105815114B</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" aria-expanded="false" href="#" data-toggle="dropdown">
                    Dropdown <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#dropdown1" data-toggle="tab">Action</a></li>
                    <li class="divider"></li>
                    <li><a href="#dropdown2" data-toggle="tab">Another action</a></li>
                </ul>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade" id="home">
                <br />
               

                <div class="row">
                    <div class="col-md-1 info"><strong>Field</strong></div>
                    <div class="col-md-1"><strong>2015</strong></div>
                    <div class="col-md-1"><strong>2014</strong></div>
                    <div class="col-md-1"><strong>2013</strong></div>
                    <div class="col-md-1"><strong>2012</strong></div>
                    <div class="col-md-1"><strong>2011</strong></div>
                    <div class="col-md-1"><strong>2010</strong></div>
                    <div class="col-md-1"><strong>2009</strong></div>
                    <div class="col-md-1"><strong>2008</strong></div>
                    <div class="col-md-1"><strong>2007</strong></div>
                    <div class="col-md-1"><strong>2006</strong></div>
                    <div class="col-md-1"><strong>2005</strong></div>
                </div>
                <div class="row">
                    <div class="col-md-1"><strong>GNWP(£)</strong></div>
                    <div class="col-md-1">1,000,000</div>
                    <div class="col-md-1">800,020</div>
                    <div class="col-md-1">800,000</div>
                    <div class="col-md-1">640,000</div>
                    <div class="col-md-1">800,000</div>
                    <div class="col-md-1">800,000</div>
                    <div class="col-md-1">800,000</div>
                    <div class="col-md-1">800,000</div>
                    <div class="col-md-1">800,000</div>
                    <div class="col-md-1">800,000</div>
                    <div class="col-md-1">800,000</div>
                </div>
                <div class="row">
                    <div class="col-md-1"><strong>Signed(£)</strong></div>
                    <div class="col-md-1">1,000,000</div>
                    <div class="col-md-1">800,020</div>
                    <div class="col-md-1">800,000</div>
                    <div class="col-md-1">640,000</div>
                    <div class="col-md-1">800,000</div>
                    <div class="col-md-1">800,000</div>
                    <div class="col-md-1">800,000</div>
                    <div class="col-md-1">800,000</div>
                    <div class="col-md-1">800,000</div>
                    <div class="col-md-1">800,000</div>
                    <div class="col-md-1">800,000</div>
                </div>
                <div class="row">
                    <div class="col-md-1"><strong>Incurred(£)</strong></div>
                    <div class="col-md-1">1,000,000</div>
                    <div class="col-md-1">800,020</div>
                    <div class="col-md-1">800,000</div>
                    <div class="col-md-1">640,000</div>
                    <div class="col-md-1">800,000</div>
                    <div class="col-md-1">800,000</div>
                    <div class="col-md-1">800,000</div>
                    <div class="col-md-1">800,000</div>
                    <div class="col-md-1">800,000</div>
                    <div class="col-md-1">800,000</div>
                    <div class="col-md-1">800,000</div>
                </div>
                <div class="row">
                    <div class="col-md-1"><strong>Paid(£)</strong></div>
                    <div class="col-md-1 label-danger">1,000,000</div>
                    <div class="col-md-1">800,020</div>
                    <div class="col-md-1">800,000</div>
                    <div class="col-md-1">640,000</div>
                    <div class="col-md-1">800,000</div>
                    <div class="col-md-1">800,000</div>
                    <div class="col-md-1">800,000</div>
                    <div class="col-md-1">800,000</div>
                    <div class="col-md-1">800,000</div>
                    <div class="col-md-1">800,000</div>
                    <div class="col-md-1">800,000</div>
                </div>


            </div>
            <div class="tab-pane fade active in" id="profile">
                <br />
                <div class="row">
                    <div class="col-md-10">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Field</th>
                                        <th>Value</th>
                                        <th>Field</th>
                                        <th>Value</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><strong> Reference</strong></td>
                                        <td>P105815114</td>
                                        <td><strong>Period From</strong></td>
                                        <td>01/04/2015</td>

                                    </tr>
                                    <tr>
                                        <td><strong>Insured</strong></td>
                                        <td>TOKIO MARINE</td>
                                        <td><strong>Period To</strong></td>
                                        <td>01/04/2016</td>

                                    </tr>
                                    <tr>
                                        <td><strong>Underwriter</strong></td>
                                        <td>SJW</td>
                                        <td><strong>Limit</strong></td>
                                        <td>275,000,000</td>

                                    </tr>
                                    <tr>
                                        <td><strong>Broker</strong></td>
                                        <td>Willis Limited</td>
                                        <td><strong>Deductible</strong></td>
                                        <td>1,000,000</td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-2">

                        @*<div class="alert alert-dismissible alert-warning">
                            <button class="close" type="button" data-dismiss="alert">×</button>
                            <strong>Market Premium(£)</strong>  3,000,000
                        </div>*@



                        <div class="alert alert-dismissible alert-warning">
                            <button class="close" type="button" data-dismiss="alert">×</button>
                            <strong>GNPW(£)</strong> 300,000
                        </div>


                        <div class="alert alert-dismissible alert-info">
                            <button class="close" type="button" data-dismiss="alert">×</button>
                            <strong>Signed(£)</strong> 300,003
                        </div>


                        @*<div class="alert alert-dismissible alert-danger">
                            <button class="close" type="button" data-dismiss="alert">×</button>
                            <strong>Incurred(£)</strong>  400,500
                        </div>*@




                    </div>
                </div>

                <hr class="divider">
                <p><large class="text-muted">Policy Performance</large></p>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th><strong>Field</strong></th>
                                <th><strong>2015</strong></th>
                                <th><strong>2014</strong></th>
                                <th><strong>2013</strong></th>
                                <th><strong>2012</strong></th>
                                <th><strong>2011</strong></th>
                                <th><strong>2010</strong></th>
                                <th><strong>2009</strong></th>
                                <th><strong>2008</strong></th>
                                <th><strong>2007</strong></th>
                                <th><strong>2006</strong></th>
                                <th><strong>2005</strong></th>



                            </tr>
                        </thead>
                        <tbody>
                            <tr>



                                <td><strong>GNWP(£)</strong></td>
                                <td>1,000,000</td>
                                <td>800,020</td>
                                <td>800,000</td>
                                <td>640,000</td>
                                <td>800,000</td>
                                <td>800,000</td>
                                <td>800,000</td>
                                <td>800,000</td>
                                <td>800,000</td>
                                <td>800,000</td>
                                <td>800,000</td>



                            </tr>
                            <tr>
                                <td><strong>Signed(£)</strong></td>
                                <td>1,250,000</td>
                                <td>800,020</td>
                                <td>800,000</td>
                                <td>640,000</td>
                                <td>800,000</td>
                                <td>800,000</td>
                                <td>800,000</td>
                                <td>800,000</td>
                                <td>800,000</td>
                                <td>800,000</td>
                                <td>800,000</td>

                            </tr>
                            <tr>
                                <td><strong>Incurred(£)</strong></td>
                                <td>300,000</td>
                                <td>800,020</td>
                                <td>800,000</td>
                                <td>640,000</td>
                                <td>800,000</td>
                                <td>800,000</td>
                                <td>800,000</td>
                                <td>800,000</td>
                                <td>800,000</td>
                                <td>800,000</td>
                                <td>800,000</td>
                            </tr>
                            <tr>
                                <td><strong>Paid(£)</strong></td>
                                <td>100,000</td>
                                <td>800,020</td>
                                <td>800,000</td>
                                <td>640,000</td>
                                <td>800,000</td>
                                <td>800,000</td>
                                <td>800,000</td>
                                <td>800,000</td>
                                <td>800,000</td>
                                <td>800,000</td>
                                <td>800,000</td>

                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>
            <div class="tab-pane fade" id="dropdown1">
                <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.</p>
            </div>
            <div class="tab-pane fade" id="dropdown2">
                <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater.</p>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Claim</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-10">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Field</th>
                                <th>Value</th>
                                <th>Field</th>
                                <th>Value</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><strong>Claim Reference</strong></td>
                                <td>C105815114</td>
                                <td><strong>Notified Date</strong></td>
                                <td>01/04/2015</td>

                            </tr>
                            <tr>
                                <td><strong>Event</strong></td>
                                <td>EVT 345</td>
                                <td><strong>Loss Date</strong></td>
                                <td>01/04/2016</td>

                            </tr>
                            <tr>
                                <td><strong>Underwriter</strong></td>
                                <td>SJW</td>
                                <td><strong>Limit</strong></td>
                                <td>275,000,000</td>

                            </tr>
                            <tr>
                                <td><strong>Claimant</strong></td>
                                <td>ALF OIL IND</td>
                                <td><strong>Deductible</strong></td>
                                <td>1,000,000</td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-2">

                @*<div class="alert alert-dismissible alert-warning">
                    <button class="close" type="button" data-dismiss="alert">×</button>
                    <strong>Market Premium(£)</strong>  3,000,000
                </div>



                <div class="alert alert-dismissible alert-warning">
                    <button class="close" type="button" data-dismiss="alert">×</button>
                    <strong>GNPW(£)</strong> 300,000
                </div>*@

                <div class="alert alert-dismissible alert-danger">
                    <button class="close" type="button" data-dismiss="alert">×</button>
                    <strong>Incurred(£)</strong>  400,500
                </div>



                <div class="alert alert-dismissible alert-warning">
                    <button class="close" type="button" data-dismiss="alert">×</button>
                    <strong>paid(£)</strong> 300,003
                </div>


                



            </div>
        </div>

    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Reviewers Notes</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <p><large class="text-muted">Risk Description </large></p>
                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>Compliance Apr 11 2014 11.02</small></p>
                <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.</p>
            </div>
         
            </div>

        <div class="row">
            <div class="col-md-12">
                <p><large class="text-muted">Reviewers Comment </large></p>
                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>Compliance Apr 11 2014 11.02</small></p>
                <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.</p>
            </div>

        </div>
        </div>

    </div>

<div class="panel panel-default">
    <div class="panel-heading">Underwriter Notes</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <p><large class="text-muted">Renewal Note </large></p>
                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>Compliance Apr 11 2014 11.02</small></p>
                <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.</p>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <p><large class="text-muted">General Note </large></p>
                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>Compliance Apr 11 2014 11.02</small></p>
                <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.</p>
            </div>

        </div>
    </div>

</div>


@*<div class="panel panel-default">
    <div class="panel-heading">Claim</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3"><strong>Field</strong></div>
            <div class="col-md-3"><strong>Value</strong></div>
            <div class="col-md-3"><strong>Field</strong></div>
            <div class="col-md-3"><strong>Value</strong></div>
        </div>
        <div class="row">

            <div class="col-md-3">
                <strong> Reference</strong>
            </div>
            <div class="col-md-3">
                P105815114
            </div>
            <div class="col-md-3">
                <strong>Period From</strong>
            </div>
            <div class="col-md-3">
                01/04/2015
            </div>
        </div>
        <div class="row">


            <div class="col-md-3">
                <strong>Insured</strong>
            </div>
            <div class="col-md-3">
                TOKIO MARINE
            </div>
            <div class="col-md-3">
                <strong>Period To</strong>
            </div>
            <div class="col-md-3">
                01/04/2016
            </div>
        </div>
        <div class="row">


            <div class="col-md-3">
                <strong>Broker</strong>
            </div>
            <div class="col-md-3">
                Willis Limited
            </div>
            <div class="col-md-3">
                <strong>Deductible</strong>
            </div>
            <div class="col-md-3">
                1,000,000
            </div>
        </div>
    </div>
</div>*@












@*<div class="row">
    <div class="col-md-1 info"><strong>Field</strong></div>
    <div class="col-md-1"><strong>2015</strong></div>
    <div class="col-md-1"><strong>2014</strong></div>
    <div class="col-md-1"><strong>2013</strong></div>
    <div class="col-md-1"><strong>2012</strong></div>
    <div class="col-md-1"><strong>2011</strong></div>
    <div class="col-md-1"><strong>2010</strong></div>
    <div class="col-md-1"><strong>2009</strong></div>
    <div class="col-md-1"><strong>2008</strong></div>
    <div class="col-md-1"><strong>2007</strong></div>
    <div class="col-md-1"><strong>2006</strong></div>
    <div class="col-md-1"><strong>2005</strong></div>
</div>
<div class="row">
    <div class="col-md-1"><strong>GNWP(£)</strong></div>
    <div class="col-md-1">1,000,000</div>
    <div class="col-md-1">800,020</div>
    <div class="col-md-1">800,000</div>
    <div class="col-md-1">640,000</div>
    <div class="col-md-1">800,000</div>
    <div class="col-md-1">800,000</div>
    <div class="col-md-1">800,000</div>
    <div class="col-md-1">800,000</div>
    <div class="col-md-1">800,000</div>
    <div class="col-md-1">800,000</div>
    <div class="col-md-1">800,000</div>
</div>
<div class="row">
    <div class="col-md-1"><strong>Signed(£)</strong></div>
    <div class="col-md-1">1,000,000</div>
    <div class="col-md-1">800,020</div>
    <div class="col-md-1">800,000</div>
    <div class="col-md-1">640,000</div>
    <div class="col-md-1">800,000</div>
    <div class="col-md-1">800,000</div>
    <div class="col-md-1">800,000</div>
    <div class="col-md-1">800,000</div>
    <div class="col-md-1">800,000</div>
    <div class="col-md-1">800,000</div>
    <div class="col-md-1">800,000</div>
</div>
<div class="row">
    <div class="col-md-1"><strong>Incurred(£)</strong></div>
    <div class="col-md-1">1,000,000</div>
    <div class="col-md-1">800,020</div>
    <div class="col-md-1">800,000</div>
    <div class="col-md-1">640,000</div>
    <div class="col-md-1">800,000</div>
    <div class="col-md-1">800,000</div>
    <div class="col-md-1">800,000</div>
    <div class="col-md-1">800,000</div>
    <div class="col-md-1">800,000</div>
    <div class="col-md-1">800,000</div>
    <div class="col-md-1">800,000</div>
</div>
<div class="row">
    <div class="col-md-1"><strong>Paid(£)</strong></div>
    <div class="col-md-1">1,000,000</div>
    <div class="col-md-1">800,020</div>
    <div class="col-md-1">800,000</div>
    <div class="col-md-1">640,000</div>
    <div class="col-md-1">800,000</div>
    <div class="col-md-1">800,000</div>
    <div class="col-md-1">800,000</div>
    <div class="col-md-1">800,000</div>
    <div class="col-md-1">800,000</div>
    <div class="col-md-1">800,000</div>
    <div class="col-md-1">800,000</div>
</div>*@